<div class="flex flex-col w-full h-full border border-gray-600 rounded overflow-hidden bg-gray-800 font-mono relative">
  <div class="absolute top-2 right-2 flex items-center gap-1 bg-transparent rounded">
    @if (editable) {
      <!-- Undo -->
      <button
        data-testid="btn-undo"
        (click)="undo()"
        class="p-1 border border-gray-500 rounded w-7 h-7 flex items-center justify-center 
              bg-gray-700/30 backdrop-blur-sm hover:bg-gray-700/60"
        title="Undo">
        <svg xmlns="http://www.w3.org/2000/svg" class="h-4 w-4 text-gray-200" fill="none"
            viewBox="0 0 24 24" stroke="currentColor">
          <path stroke-linecap="round" stroke-linejoin="round" stroke-width="1.8"
            d="M7 7l-4 4 4 4M3 11h12a5 5 0 110 10"/>
        </svg>
      </button>

      <!-- Redo -->
      <button
        data-testid="btn-redo"
        (click)="redo()"
        class="p-1 border border-gray-500 rounded w-7 h-7 flex items-center justify-center 
              bg-gray-700/30 backdrop-blur-sm hover:bg-gray-700/60"
        title="Redo">
        <svg xmlns="http://www.w3.org/2000/svg" class="h-4 w-4 text-gray-200" fill="none"
            viewBox="0 0 24 24" stroke="currentColor">
          <path stroke-linecap="round" stroke-linejoin="round" stroke-width="1.8"
            d="M17 7l4 4-4 4M21 11H9a5 5 0 100 10"/>
        </svg>
      </button>
    }

    <!-- Copy -->
    <button
      data-testid="btn-copy"
      (click)="copy()"
      class="p-1 border border-gray-500 rounded w-7 h-7 flex items-center justify-center 
            bg-gray-700/30 backdrop-blur-sm hover:bg-gray-700/60"
      title="Copy">
      <svg xmlns="http://www.w3.org/2000/svg" class="h-4 w-4 text-gray-200"
          viewBox="0 0 24 24" fill="none" stroke="currentColor">
        <rect x="9" y="9" width="13" height="13" rx="2" ry="2" stroke-width="2"/>
        <path d="M5 15H4a2 2 0 01-2-2V4a2 2 0 012-2h9a2 2 0 012 2v1" stroke-width="2"/>
      </svg>
    </button>

    @if (editable) {
    <!-- Paste -->
    <button
      data-testid="btn-paste"
      (click)="paste()"
      class="p-1 border border-gray-500 rounded w-7 h-7 flex items-center justify-center 
            bg-gray-700/30 backdrop-blur-sm hover:bg-gray-700/60"
      title="Paste">
      <svg xmlns="http://www.w3.org/2000/svg" class="h-4 w-4 text-gray-200"
          viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2">
        <path d="M19 21H5a2 2 0 0 1-2-2V5a2 2 0 0 1 2-2h11l5 5v11a2 2 0 0 1-2 2z"/>
      </svg>
    </button>

    <!-- Clear -->
    <button
      data-testid="btn-clear"
      (click)="delete()"
      class="p-1 border border-gray-500 rounded w-7 h-7 flex items-center justify-center 
            bg-gray-700/30 backdrop-blur-sm hover:bg-gray-700/60"
      title="Clear all">
      <svg xmlns="http://www.w3.org/2000/svg" class="h-4 w-4 text-gray-200" viewBox="0 0 24 24" fill="none" stroke="currentColor">
        <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M6 18L18 6M6 6l12 12"/>
      </svg>
    </button>
    }
  </div>

  <div class="flex overflow-auto w-full h-full">
    <!-- Números de línea -->
    <div class="bg-gray-900 text-gray-400 text-right pt-2 select-none min-w-10 leading-[1.5rem] shrink-0">
      @for (line of lineCounter; track $index) {
        <div class="bg-gray-900 px-2" [attr.data-testid]="'line-number-' + $index">{{ line }}</div>
      }
    </div>

    <!-- Editor -->
    <div
      data-testid="div-content-editable"
      #editor
      class="flex-1 bg-transparent text-white py-2 font-mono leading-[1.5rem] outline-none"
      [attr.contenteditable]="editable"
      spellcheck="false">
    </div>
  </div>
</div>
