:host {
  display: block;
  width: 100%;
  height: 100%;
}

[contenteditable] {
  white-space: pre;
  overflow-wrap: normal;
}

:host ::ng-deep .active-line {
  background-color: rgba(0, 0, 0, 0.25); 
  padding: 0 8px 0 8px;
}

:host ::ng-deep .unactive-line {
  background-color: #1F2937; 
  padding: 0 8px 0 8px;
}

:host ::ng-deep .wrong-line {
  text-decoration: red wavy underline;
  text-decoration-thickness: 2px;
}

::ng-deep .tooltip {
  position: fixed;
  display: none;
  background-color: #252526;   
  color: #dcdcdc;             
  padding: 6px 10px;           
  border: 1px solid #454545;  
  font-size: 12px;             
  font-family: Consolas, monospace;
  max-width: 400px;           
  white-space: pre-wrap;      
  pointer-events: none;       
  z-index: 9999;              
}


:host  ::ng-deep .has-label {
  color: #ffcc00; 
  font-weight: bold;
}

:host  ::ng-deep .label-ref {
  color: #ffcc00; 
  font-weight: bold;
}


:host  ::ng-deep .instr { color: #4cafef; font-weight: bold; }     
:host  ::ng-deep .instr-r { color: #4cafef; font-weight: bold; }     
:host  ::ng-deep .instr-i { color: #81c784; font-weight: bold; }     
:host  ::ng-deep .instr-s { color: #ffb74d; font-weight: bold; }     
:host  ::ng-deep .instr-b { color: #e57373; font-weight: bold; }     
:host  ::ng-deep .instr-j { color: #ba68c8; font-weight: bold; }     
:host  ::ng-deep .instr-u { color: #ffd54f; font-weight: bold; }     
:host  ::ng-deep .instr-special { color: #90a4ae; font-weight: bold; } 
:host  ::ng-deep .opcode-bin { color: #81c784; font-weight: bold; } 