<main class="h-screen bg-gray-900 text-white">
  <nav class="w-full bg-blue-600 flex items-center justify-between  h-12 text-lg font-semibold">
    <div >
      <button (click)="toggleMemoryEditor()" class="p-2 hover:bg-gray-700 rounded">
        <span class="text-2xl leading-none">☰</span>
      </button>
    </div>
    <div>
      RISCV-Assembler
    </div>
    <div>
      T
    </div>
  </nav>

  <!-- TOOLBAR -->
  <div class="flex flex-wrap justify-between items-center p-2 gap-2">
    <div class="flex flex-row gap-2">
      
      <button (click)="fileInput.click()" class="bg-blue-600 hover:bg-blue-700 px-3 py-1 rounded">Import</button>
      <select [(ngModel)]="selectedLineIndexing" class="bg-gray-700 border border-gray-500 p-1 rounded border-box" (change)="onSelectedLineIndexingChange($event)">
        <option value="numbers">Numbers</option>
        <option value="direction">Direction</option>
      </select>
      
        
    </div>
    <div class="flex flex-row gap-2">
      <select [(ngModel)]="selectedInputFormat" class="bg-gray-700 border border-gray-500 p-1 rounded" (change)="onInputFormatChange($event)">
        <option value="riscv">RISCV</option>
        <option value="binary">Binary</option>
        <option value="hexadecimal">Hexadecimal</option>
      </select>
      <button (click)="switchFormats()" class="bg-gray-700 border border-gray-500 p-1 px-2 rounded flex justify-center items-center">
        <span class="-mt-[3px]">↔</span>
      </button>
      <select [(ngModel)]="selectedOutputFormat" class="bg-gray-700 border border-gray-500 p-1 rounded" (change)="onOutputFormatChange($event)">
        <option value="binary">Binary</option>
        <option value="riscv">RISCV</option>
        <option value="hexadecimal">Hexadecimal</option>
      </select>
    </div>
    <div class="flex gap-2">
      <select [(ngModel)]="selectedConvertMethod" class="bg-gray-700 border border-gray-500 p-1 rounded border-box" (change)="onSelectedConvertMethod($event)">
        <option value="automatic">Automatic</option>
        <option value="manual">Manual</option>
      </select>
      <button (click)="downloadOutput()" class="bg-yellow-600 hover:bg-yellow-700 px-3 py-1 rounded">Download</button>
    </div>
  </div>

  <!-- INPUT + OUTPUT -->
  <input type="file" #fileInput accept=".s,.asm,.txt" (change)="onFileSelected($event)" hidden>
  @if (showMemoryEditor()) {
    <div class="fixed inset-0 bg-black/20 flex items-center justify-center z-50" (click)="onOutsideClick($event)">
      <app-memory-size-editor
        [sections]="memorySections"
        [memorySize]="memorySize"
        [unit]="memoryUnit"
        (update)="onMemoryEditorUpdate($event)"
        (close)="closeMemoryEditor()"
      ></app-memory-size-editor>
    </div>
  }
  <div class="flex flex-col md:flex-row h-[calc(100%-6.5rem)] p-4 gap-4">

    <app-text-editor
      (activeLineChange)="onInputActiveLineChange($event)"
      (contentChange)="onEditorChange($event)"
      [textFormat]="selectedInputFormat()"
      [lineIndexing]="selectedLineIndexing()"
      #editor>
    </app-text-editor>
    <app-text-editor
      (activeLineChange)="onOutputActiveLineChange($event)"
      [textFormat]="selectedOutputFormat()"
      [lineIndexing]="selectedLineIndexing()"
      [editable]=false
      #outputTextEditor>
    </app-text-editor>
  </div>
  <div class="absolute bottom-2 left-0 w-full flex flex-row gap-2 justify-center z-50">
    @if (selectedConvertMethod() === 'manual') {
      <button (click)="convertInputToOutput()" 
              class="bg-blue-600 hover:bg-blue-700 px-3 py-1 rounded shadow-lg">
        Convert
      </button>
    }
  </div>


</main>
<router-outlet />
